services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: db-qdrant
    ports:
    - "6333:6333"
    - "6334:6334"
    restart: unless-stopped
    volumes:
    - ./qdrant_storage:/qdrant/storage
  postgres:
    image: postgres:17
    container_name: db-postgres
    ports:
    - "5433:5432"
    restart: unless-stopped
    volumes:
    - postgres_data:/var/lib/postgresql/data
    environment:
    - POSTGRES_USER=${POSTGRES_USER}
    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    - POSTGRES_DB=${POSTGRES_DB}
volumes:
  postgres_data: